# Advnaced Queries on Library Management Database

In [79]:
import pandas as pd
import mysql.connector as conn

## Setting up and checking connection

In [82]:
connection = conn.connect(
    host="127.0.0.1",
    user="root",
    password="admin",
    database="library_management"
)

In [83]:
# we have written a function to execute queries and show results
def exec__show(query, show_res=False):
    try:
        cursor = connection.cursor()
        # Execute the query
        cursor.execute(query)
        
        # Fetch all results to avoid unread result errors
        results = cursor.fetchall()
        # Optionally display the results
        if show_res:
            return pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])
        cursor.close()
    except conn.Error as err:
        print(f"Error: {err}")
    finally:
        pass

In [84]:
exec__show("select * from books limit 10", show_res=True)

,isbn,book_title,category,rental_price,status,author,publisher
0,978-0-06-025492-6,Where the Wild Things Are,Children,3.50,yes,Maurice Sendak,HarperCollins
1,978-0-06-112008-4,To Kill a Mockingbird,Classic,5.00,yes,Harper Lee,J.B. Lippincott & Co.
2,978-0-06-112241-5,The Kite Runner,Fiction,5.50,yes,Khaled Hosseini,Riverhead Books
3,978-0-06-440055-8,Charlotte's Web,Children,4.00,yes,E.B. White,Harper & Row
4,978-0-09-957807-9,A Game of Thrones,Fantasy,7.50,yes,George R.R. Martin,Bantam
5,978-0-14-027526-3,A Tale of Two Cities,Classic,4.50,yes,Charles Dickens,Penguin Books
6,978-0-14-044930-3,The Histories,History,5.50,yes,Herodotus,Penguin Classics
7,978-0-14-118776-1,One Hundred Years of Solitude,Literary Fiction,6.50,yes,Gabriel Garcia Marquez,Penguin Books
8,978-0-14-143951-8,Pride and Prejudice,Classic,5.00,yes,Jane Austen,Penguin Classics
9,978-0-141-44171-6,Jane Eyre,Classic,4.00,yes,Charlotte Bronte,Penguin Classics

In [ ]:
exec__show("create table temp2 (id int primary key, age int(2))", show_res=False)

In [86]:
# exec__show('insert into temp2(id, age) values (1,22), (2,20)')
exec__show('select * from temp2', show_res=True)

   id  age
0   1   22
1   2   20

## Adding and modifying some existing data

In [87]:
exec__show("show tables", show_res=True)

  Tables_in_library_management
0                        books
1                   books_gt_7
2   books_issued_summary_table
3    books_issued_summary_view
4                       branch
5                    employees
6                issued_status
7                      members
8                return_status
9                        temp2

In [ ]:
# inserting some more data into tables
exec__show("""INSERT INTO issued_status(issued_id, issued_member_id, issued_book_name, issued_date, issued_book_isbn, issued_emp_id) VALUES
('IS151', 'C118', 'The Catcher in the Rye', CURRENT_DATE() - INTERVAL 24 day,  '978-0-553-29698-2', 'E108'),
('IS152', 'C119', 'The Catcher in the Rye', CURRENT_DATE() - INTERVAL 13 day,  '978-0-553-29698-2', 'E109'),
('IS153', 'C106', 'Pride and Prejudice', CURRENT_DATE() - INTERVAL 7 day,  '978-0-14-143951-8', 'E107'),
('IS154', 'C105', 'The Road', CURRENT_DATE() - INTERVAL 32 day,  '978-0-375-50167-0', 'E101')""")

In [72]:
# adding conditioon column to return_status table
exec__show("alter table return_status add book_quality varchar(20) default ('Good')")


exec__show("UPDATE return_status set book_quality = 'Damaged' where issued_id in ('IS111', 'IS116')")

In [88]:
exec__show("Select * from return_status limit 20", show_res=True)

,return_id,issued_id,return_book_name,return_date,return_book_isbn,book_quality
0,RS104,IS106,None,2024-05-01,None,Good
1,RS105,IS107,None,2024-05-03,None,Good
2,RS106,IS108,None,2024-05-05,None,Good
3,RS107,IS109,None,2024-05-07,None,Good
4,RS108,IS110,None,2024-05-09,None,Damaged
5,RS109,IS111,None,2024-05-11,None,Good
6,RS110,IS112,None,2024-05-13,None,Good
7,RS111,IS113,None,2024-05-15,None,Good
8,RS112,IS114,None,2024-05-17,None,Good
9,RS113,IS115,None,2024-05-19,None,Damaged
10,RS114,IS116,None,2024-05-21,None,Damaged
11,RS115,IS117,None,2024-05-23,None,Good
12,RS116,IS118,None,2024-05-25,None,Good
13,RS117,IS119,None,2024-05-27,None,Good
14,RS118,IS120,None,2024-05-29,None,Good

## Part 2: Advanced Queries

In [ ]:
exec__show('select * from members', show_res=True)

In [92]:
exec__show('select * from issued_status', show_res=True)

,issued_id,issued_member_id,issued_book_name,issued_date,issued_book_isbn,issued_emp_id
0,IS106,C106,Animal Farm,2024-03-10,978-0-330-25864-8,E104
1,IS107,C107,One Hundred Years of Solitude,2024-03-11,978-0-14-118776-1,E104
2,IS108,C108,The Great Gatsby,2024-03-12,978-0-525-47535-5,E104
3,IS109,C109,Jane Eyre,2024-03-13,978-0-141-44171-6,E105
4,IS110,C110,The Alchemist,2024-03-14,978-0-307-37840-1,E105
5,IS111,C109,Harry Potter and the Sorcerers Stone,2024-03-15,978-0-679-76489-8,E105
6,IS112,C109,A Game of Thrones,2024-03-16,978-0-09-957807-9,E106
7,IS113,C109,A Peoples History of the United States,2024-03-17,978-0-393-05081-8,E106
8,IS114,C109,The Guns of August,2024-03-18,978-0-19-280551-1,E106
9,IS115,C109,The Histories,2024-03-19,978-0-14-044930-3,E107
10,IS116,C110,"Guns, Germs, and Steel: The Fates of Human Soc...",2024-03-20,978-0-393-91257-8,E107
11,IS117,C110,1984,2024-03-21,978-0-679-64115-3,E107
12,IS118,C101,Pride and Prejudice,2024-03-22,978-0-14-143951-8,E108
13,IS119,C110,Brave New World,2024-03-23,978-0-452-28240-7,E108
14,IS120,C110,The Road,2024-03-24,978-0-670-81302-4,E108
15,IS121,C102,The Shining,2024-03-25,978-0-385-33312-0,E109
16,IS122,C102,Fahrenheit 451,2024-03-26,978-0-451-52993-5,E109
17,IS123,C103,Dune,2024-03-27,978-0-345-39180-3,E109
18,IS124,C104,Where the Wild Things Are,2024-03-28,978-0-06-025492-6,E110
19,IS125,C105,The Kite Runner,2024-03-29,978-0-06-112241-5,E110
20,IS126,C105,Charlotte's Web,2024-03-30,978-0-06-440055-8,E110
21,IS127,C105,Beloved,2024-03-31,978-0-679-77644-3,E110
22,IS128,C105,A Tale of Two Cities,2024-04-01,978-0-14-027526-3,E110
23,IS129,C105,The Stand,2024-04-02,978-0-7434-7679-3,E110
24,IS130,C106,Moby Dick,2024-04-03,978-0-451-52994-2,E101
25,IS131,C106,To Kill a Mockingbird,2024-04-04,978-0-06-112008-4,E101
26,IS132,C106,The Hobbit,2024-04-05,978-0-7432-7356-4,E106
27,IS133,C107,Angels & Demons,2024-04-06,978-0-7432-4722-5,E106
28,IS134,C107,The Diary of a Young Girl,2024-04-07,978-0-375-41398-8,E106
29,IS135,C107,Sapiens: A Brief History of Humankind,2024-04-08,978-0-307-58837-1,E108
30,IS136,C107,1491: New Revelations of the Americas Before C...,2024-04-09,978-0-7432-7357-1,E102
31,IS137,C107,The Catcher in the Rye,2024-04-10,978-0-553-29698-2,E103
32,IS138,C108,The Great Gatsby,2024-04-11,978-0-525-47535-5,E104
33,IS139,C109,Harry Potter and the Sorcerers Stone,2024-04-12,978-0-679-76489-8,E105
34,IS140,C110,Animal Farm,2024-04-13,978-0-330-25864-8,E102
35,IS151,C118,The Catcher in the Rye,2024-08-05,978-0-553-29698-2,E108
36,IS152,C119,The Catcher in the Rye,2024-08-16,978-0-553-29698-2,E109
37,IS153,C106,Pride and Prejudice,2024-08-22,978-0-14-143951-8,E107
38,IS154,C105,The Road,2024-07-28,978-0-375-50167-0,E101

In [91]:
exec__show('select * from books', show_res=True)

,isbn,book_title,category,rental_price,status,author,publisher
0,978-0-06-025492-6,Where the Wild Things Are,Children,3.50,yes,Maurice Sendak,HarperCollins
1,978-0-06-112008-4,To Kill a Mockingbird,Classic,5.00,yes,Harper Lee,J.B. Lippincott & Co.
2,978-0-06-112241-5,The Kite Runner,Fiction,5.50,yes,Khaled Hosseini,Riverhead Books
3,978-0-06-440055-8,Charlotte's Web,Children,4.00,yes,E.B. White,Harper & Row
4,978-0-09-957807-9,A Game of Thrones,Fantasy,7.50,yes,George R.R. Martin,Bantam
5,978-0-14-027526-3,A Tale of Two Cities,Classic,4.50,yes,Charles Dickens,Penguin Books
6,978-0-14-044930-3,The Histories,History,5.50,yes,Herodotus,Penguin Classics
7,978-0-14-118776-1,One Hundred Years of Solitude,Literary Fiction,6.50,yes,Gabriel Garcia Marquez,Penguin Books
8,978-0-14-143951-8,Pride and Prejudice,Classic,5.00,yes,Jane Austen,Penguin Classics
9,978-0-141-44171-6,Jane Eyre,Classic,4.00,yes,Charlotte Bronte,Penguin Classics
10,978-0-19-280551-1,The Guns of August,History,7.00,yes,Barbara W. Tuchman,Oxford University Press
11,978-0-307-37840-1,The Alchemist,Fiction,2.50,yes,Paulo Coelho,HarperOne
12,978-0-307-58837-1,Sapiens: A Brief History of Humankind,History,8.00,no,Yuval Noah Harari,Harper Perennial
13,978-0-330-25864-8,Animal Farm,Classic,5.50,yes,George Orwell,Penguin Books
14,978-0-345-39180-3,Dune,Science Fiction,8.50,yes,Frank Herbert,Ace
15,978-0-375-41398-8,The Diary of a Young Girl,History,6.50,no,Anne Frank,Bantam
16,978-0-375-50167-0,The Road,Dystopian,7.00,yes,Cormac McCarthy,Vintage
17,978-0-385-33312-0,The Shining,Horror,6.00,yes,Stephen King,Doubleday
18,978-0-393-05081-8,A Peoples History of the United States,History,9.00,yes,Howard Zinn,Harper Perennial
19,978-0-393-91257-8,"Guns, Germs, and Steel: The Fates of Human Soc...",History,7.00,yes,Jared Diamond,W. W. Norton & Company
20,978-0-451-52993-5,Fahrenheit 451,Dystopian,5.50,yes,Ray Bradbury,Ballantine Books
21,978-0-451-52994-2,Moby Dick,Classic,6.50,yes,Herman Melville,Penguin Books
22,978-0-452-28240-7,Brave New World,Dystopian,6.50,yes,Aldous Huxley,Harper Perennial
23,978-0-525-47535-5,The Great Gatsby,Classic,8.00,yes,F. Scott Fitzgerald,Scribner
24,978-0-553-29698-2,The Catcher in the Rye,Classic,7.00,yes,J.D. Salinger,"Little, Brown and Company"
25,978-0-553-57340-1,1984,Dystopian,6.50,yes,George Orwell,Penguin Books
26,978-0-670-81302-4,The Road,Dystopian,7.00,yes,Cormac McCarthy,Knopf
27,978-0-679-64115-3,1984,Dystopian,6.50,yes,George Orwell,Penguin Books
28,978-0-679-76489-8,Harry Potter and the Sorcerers Stone,Fantasy,7.00,yes,J.K. Rowling,Scholastic
29,978-0-679-77644-3,Beloved,Fiction,6.50,yes,Toni Morrison,Knopf
30,978-0-7432-4722-4,The Da Vinci Code,Mystery,8.00,yes,Dan Brown,Doubleday
31,978-0-7432-4722-5,Angels & Demons,Mystery,7.50,yes,Dan Brown,Doubleday
32,978-0-7432-7356-4,The Hobbit,Fantasy,7.00,yes,J.R.R. Tolkien,Houghton Mifflin Harcourt
33,978-0-7432-7357-1,1491: New Revelations of the Americas Before C...,History,6.50,no,Charles C. Mann,Vintage Books
34,978-0-7434-7679-3,The Stand,Horror,7.00,yes,Stephen King,Doubleday

In [101]:
exec__show(query="select * from return_status", show_res=True)

,return_id,issued_id,return_book_name,return_date,return_book_isbn,book_quality
0,RS104,IS106,None,2024-05-01,None,Good
1,RS105,IS107,None,2024-05-03,None,Good
2,RS106,IS108,None,2024-05-05,None,Good
3,RS107,IS109,None,2024-05-07,None,Good
4,RS108,IS110,None,2024-05-09,None,Damaged
5,RS109,IS111,None,2024-05-11,None,Good
6,RS110,IS112,None,2024-05-13,None,Good
7,RS111,IS113,None,2024-05-15,None,Good
8,RS112,IS114,None,2024-05-17,None,Good
9,RS113,IS115,None,2024-05-19,None,Damaged
10,RS114,IS116,None,2024-05-21,None,Damaged
11,RS115,IS117,None,2024-05-23,None,Good
12,RS116,IS118,None,2024-05-25,None,Good
13,RS117,IS119,None,2024-05-27,None,Good
14,RS118,IS120,None,2024-05-29,None,Good

In [90]:
exec__show('select * from members', show_res=True)

   member_id     member_name member_address    reg_date
0       C101   Alice Johnson    123 Main St  2021-05-15
1       C102       Bob Smith     456 Elm St  2021-06-20
2       C103     Carol Davis     789 Oak St  2021-07-10
3       C104     Dave Wilson    567 Pine St  2021-08-05
4       C105       Eve Brown   890 Maple St  2021-09-25
5       C106    Frank Thomas   234 Cedar St  2021-10-15
6       C107    Grace Taylor  345 Walnut St  2021-11-20
7       C108  Henry Anderson   456 Birch St  2021-12-10
8       C109    Ivy Martinez     567 Oak St  2022-01-05
9       C110     Jack Wilson    678 Pine St  2022-02-25
10      C118             Sam    133 Pine St  2024-06-01
11      C119            John    143 Main St  2024-05-01

In [116]:
exec__show("select DateDiff('2024-05-01', '2024-03-10') as no_of_days", show_res=True)

   no_of_days
0          52

In [148]:
## Task 13: Identify Members with Overdue Books
## Write a query to identify members who have overdue books (assume a 30-day return period). Display the member's_id, member's name, book  title, issue date, and days overdue.


exec__show("select mem.member_id as mem_id, mem.member_name, iss.issued_date as is_date, bk.book_title, bk.isbn, rs.return_date as ret_date, DATEDIFF(COALESCE(rs.return_date, CURDATE()), iss.issued_date) AS no_of_days from members as mem join issued_status as iss on mem.member_id=iss.issued_member_id join books as bk on iss.issued_book_isbn=bk.isbn left join return_status as rs on iss.issued_id=rs.issued_id where rs.return_date is null and DATEDIFF(COALESCE(rs.return_date, CURDATE()), iss.issued_date) > 50", show_res=True)

,mem_id,member_name,is_date,book_title,isbn,ret_date,no_of_days
0,C102,Bob Smith,2024-03-25,The Shining,978-0-385-33312-0,None,157
1,C102,Bob Smith,2024-03-26,Fahrenheit 451,978-0-451-52993-5,None,156
2,C103,Carol Davis,2024-03-27,Dune,978-0-345-39180-3,None,155
3,C104,Dave Wilson,2024-03-28,Where the Wild Things Are,978-0-06-025492-6,None,154
4,C105,Eve Brown,2024-03-29,The Kite Runner,978-0-06-112241-5,None,153
5,C105,Eve Brown,2024-03-30,Charlotte's Web,978-0-06-440055-8,None,152
6,C105,Eve Brown,2024-03-31,Beloved,978-0-679-77644-3,None,151
7,C105,Eve Brown,2024-04-01,A Tale of Two Cities,978-0-14-027526-3,None,150
8,C105,Eve Brown,2024-04-02,The Stand,978-0-7434-7679-3,None,149
9,C106,Frank Thomas,2024-04-03,Moby Dick,978-0-451-52994-2,None,148
10,C106,Frank Thomas,2024-04-04,To Kill a Mockingbird,978-0-06-112008-4,None,147
11,C106,Frank Thomas,2024-04-05,The Hobbit,978-0-7432-7356-4,None,146
12,C107,Grace Taylor,2024-04-06,Angels & Demons,978-0-7432-4722-5,None,145
13,C107,Grace Taylor,2024-04-07,The Diary of a Young Girl,978-0-375-41398-8,None,144
14,C107,Grace Taylor,2024-04-08,Sapiens: A Brief History of Humankind,978-0-307-58837-1,None,143
15,C107,Grace Taylor,2024-04-09,1491: New Revelations of the Americas Before C...,978-0-7432-7357-1,None,142
16,C107,Grace Taylor,2024-04-10,The Catcher in the Rye,978-0-553-29698-2,None,141
17,C108,Henry Anderson,2024-04-11,The Great Gatsby,978-0-525-47535-5,None,140
18,C109,Ivy Martinez,2024-04-12,Harry Potter and the Sorcerers Stone,978-0-679-76489-8,None,139
19,C110,Jack Wilson,2024-04-13,Animal Farm,978-0-330-25864-8,None,138

In [142]:
exec__show("""
SELECT
       mem.member_id AS mem_id,
       mem.member_name,
       iss.issued_date AS is_date,
       bk.book_title,
       bk.isbn,
       rs.return_date AS ret_date,
       DATEDIFF(COALESCE(rs.return_date, CURDATE()), iss.issued_date) AS no_of_days
FROM members AS mem
JOIN issued_status AS iss ON mem.member_id = iss.issued_member_id
JOIN books AS bk ON iss.issued_book_isbn = bk.isbn
left JOIN return_status AS rs ON iss.issued_id = rs.issued_id
WHERE rs.return_date is null and DATEDIFF(COALESCE(rs.return_date, CURDATE()), iss.issued_date) >50 order by 1
""", show_res=True)

,mem_id,member_name,is_date,book_title,isbn,ret_date,no_of_days
0,C102,Bob Smith,2024-03-25,The Shining,978-0-385-33312-0,None,157
1,C102,Bob Smith,2024-03-26,Fahrenheit 451,978-0-451-52993-5,None,156
2,C103,Carol Davis,2024-03-27,Dune,978-0-345-39180-3,None,155
3,C104,Dave Wilson,2024-03-28,Where the Wild Things Are,978-0-06-025492-6,None,154
4,C105,Eve Brown,2024-03-29,The Kite Runner,978-0-06-112241-5,None,153
5,C105,Eve Brown,2024-03-30,Charlotte's Web,978-0-06-440055-8,None,152
6,C105,Eve Brown,2024-03-31,Beloved,978-0-679-77644-3,None,151
7,C105,Eve Brown,2024-04-01,A Tale of Two Cities,978-0-14-027526-3,None,150
8,C105,Eve Brown,2024-04-02,The Stand,978-0-7434-7679-3,None,149
9,C106,Frank Thomas,2024-04-03,Moby Dick,978-0-451-52994-2,None,148
10,C106,Frank Thomas,2024-04-04,To Kill a Mockingbird,978-0-06-112008-4,None,147
11,C106,Frank Thomas,2024-04-05,The Hobbit,978-0-7432-7356-4,None,146
12,C107,Grace Taylor,2024-04-06,Angels & Demons,978-0-7432-4722-5,None,145
13,C107,Grace Taylor,2024-04-07,The Diary of a Young Girl,978-0-375-41398-8,None,144
14,C107,Grace Taylor,2024-04-08,Sapiens: A Brief History of Humankind,978-0-307-58837-1,None,143
15,C107,Grace Taylor,2024-04-09,1491: New Revelations of the Americas Before C...,978-0-7432-7357-1,None,142
16,C107,Grace Taylor,2024-04-10,The Catcher in the Rye,978-0-553-29698-2,None,141
17,C108,Henry Anderson,2024-04-11,The Great Gatsby,978-0-525-47535-5,None,140
18,C109,Ivy Martinez,2024-04-12,Harry Potter and the Sorcerers Stone,978-0-679-76489-8,None,139
19,C110,Jack Wilson,2024-04-13,Animal Farm,978-0-330-25864-8,None,138

In [147]:
exec__show("""
SELECT 
    ist.issued_member_id,
    m.member_name,
    bk.book_title,
    ist.issued_date,
    -- rs.return_date,
    datediff(CURRENT_DATE, ist.issued_date) as over_dues_days
FROM issued_status as ist
JOIN 
members as m
    ON m.member_id = ist.issued_member_id
JOIN 
books as bk
ON bk.isbn = ist.issued_book_isbn
LEFT JOIN 
return_status as rs
ON rs.issued_id = ist.issued_id
WHERE 
    rs.return_date IS NULL
    AND
    datediff(CURRENT_DATE, ist.issued_date) > 50
ORDER BY 1""", show_res=True)

,issued_member_id,member_name,book_title,issued_date,over_dues_days
0,C102,Bob Smith,The Shining,2024-03-25,157
1,C102,Bob Smith,Fahrenheit 451,2024-03-26,156
2,C103,Carol Davis,Dune,2024-03-27,155
3,C104,Dave Wilson,Where the Wild Things Are,2024-03-28,154
4,C105,Eve Brown,The Kite Runner,2024-03-29,153
5,C105,Eve Brown,Charlotte's Web,2024-03-30,152
6,C105,Eve Brown,Beloved,2024-03-31,151
7,C105,Eve Brown,A Tale of Two Cities,2024-04-01,150
8,C105,Eve Brown,The Stand,2024-04-02,149
9,C106,Frank Thomas,Moby Dick,2024-04-03,148
10,C106,Frank Thomas,To Kill a Mockingbird,2024-04-04,147
11,C106,Frank Thomas,The Hobbit,2024-04-05,146
12,C107,Grace Taylor,Angels & Demons,2024-04-06,145
13,C107,Grace Taylor,The Diary of a Young Girl,2024-04-07,144
14,C107,Grace Taylor,Sapiens: A Brief History of Humankind,2024-04-08,143
15,C107,Grace Taylor,1491: New Revelations of the Americas Before C...,2024-04-09,142
16,C107,Grace Taylor,The Catcher in the Rye,2024-04-10,141
17,C108,Henry Anderson,The Great Gatsby,2024-04-11,140
18,C109,Ivy Martinez,Harry Potter and the Sorcerers Stone,2024-04-12,139
19,C110,Jack Wilson,Animal Farm,2024-04-13,138

In [ ]:
# task 14 :